-r requirements-rootless.txt

# mod-wsgi requires apache httpd headers (redhat package httpd-devel, ubuntu package apache2-dev)
# also gcc and python headers (redhat package python39-devel or similar)
mod-wsgi~=4.9.4

