# This file is included in requirements-apache.txt

asn1>=2.2.0,<2.3.0
certifi>=2019.3.9
chardet>=3.0.4,<3.1
click>=8,<9
configobj>=5.0.6,<5.1
Flask>=2.2.0,<2.3
Flask-WTF>=1.0.1,<1.1
GitPython>=3.1.9
gunicorn>=19.9.0,<19.10
icalendar>=4.0.0,<4.1.0
idna==2.7
itsdangerous>=2.0,<2.1
Jinja2>=3.1.2,<3.2
ldap3>=2.6.1
MarkupSafe<2.2,>=2.1.1
python-dateutil>=2.7.3,<2.8
python-gnupg
PyYAML>=5.4.1,<5.5
requests>=2.25.0,<2.26
six>=1.12.0,<1.13
urllib3>=1.26.5,<1.27
Werkzeug>=2.2.3,<2.3
WTForms>=2.2.1,<2.3
xmltodict>=0.11.0,<0.12
