# *** NOTE ***
# You MUST keep entries in this file in sync with those in requirements-apache.txt

asn1>=2.2.0,<2.3.0
certifi>=2019.3.9
chardet>=3.0.4,<3.1
click==6.7
configobj>=5.0.6,<5.1
Flask>=1.0.2,<1.1
Flask-WTF>=0.14.2,<0.15
gunicorn>=19.9.0,<19.10
icalendar>=4.0.0,<4.1.0
idna==2.7
itsdangerous==0.24
Jinja2>=2.10.1,<2.11
ldap3>=2.6.1
MarkupSafe>=1.1.1<1.2
python-dateutil>=2.7.3,<2.8
PyYAML>=4.2b1,<=4.2
requests>=2.21.0,<2.22
six>=1.12.0,<1.13
urllib3>=1.24.1,<1.25
Werkzeug>=0.15.3,<0.16
WTForms>=2.2.1,<2.3
xmltodict>=0.11.0,<0.12
