{% macro render_field(field) %}
<tr>
    <td>{{ field.label }}:</td>
    <td>{{ field(**kwargs)|safe }}</td>
    <td>
        {% if field.errors %}
        <span class=errors>
            {% for error in field.errors %}
            {{ error }}<br/>
            {% endfor %}
        </span>
        {% endif %}
    </td>
</tr>
{% endmacro %}

{% macro render_datefield(field) %}
<tr>
    <td>{{ field.label }}:</td>
    <td>{{ field(class="datepick", **kwargs)|safe }}</td>
    <td>
        {% if field.errors %}
        <span class=errors>
            {% for error in field.errors %}
            {{ error }}<br/>
            {% endfor %}
        </span>
        {% endif %}
    </td>
</tr>{% endmacro %}

{% macro render_timefield(field) %}
<tr>
    <td>{{ field.label }}:</td>
    <td>{{ field(class="timepick", **kwargs)|safe }}</td>
    <td>
        {% if field.errors %}
        <span class=errors>
            {% for error in field.errors %}
            {{ error }}<br/>
            {% endfor %}
        </span>
        {% endif %}
    </td>
</tr>{% endmacro %}

{% macro render_hidden_field(field) %}
{{ field(**kwargs)|safe }}
{% endmacro %}

{% macro render_fieldinfo(info) %}
<tr><td colspan="3"><span class="fieldinfo">{{ info|safe }}</span></td></tr>
{% endmacro %}
