<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Facility</title>
</head>
<body>
{% from "_formhelpers.html" import render_field %}
<form method=get>
    <table>
        {{ render_field(form.facility) }}
    </table>
    <p><input type=submit value="Select facility"></p>
</form>
{% if facility %}
<form method="get" action="/generate_downtime">
    <input type="hidden" name="facility" value="{{ facility }}">
    <table>
        {{ render_field(form.resource) }}
    </table>
    <p><input type="submit" value="Select resource"></p>
</form>
{% endif %}
</body>
</html>