{% extends "base.html.j2" %}
{% block title %}Downtime YAML generator{% endblock %}

{% block content %}
<center><h3>Downtime YAML generator</h3></center>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <b>Resource:</b> {{resource}} (<a href="{{ url_for('downtime_resource_select', facility=facility) }}">change resource</a>)<br/>
      <b>Facility:</b> {{facility}} (<a href="{{ url_for('downtime_resource_select') }}">change facility</a>)<br/>
      <form method=post>
        <!-- NOTE: we are not using CSRF because none of the POST data is actually
        used to change anything.  If that ever changes, see
        https://flask-wtf.readthedocs.io/en/stable/csrf.html
        -->
        {{ macros.render_hidden_field(form.resource) }}
        {{ macros.render_bsfield(form.scheduled) }}
        {{ macros.render_bsfield(form.description) }}
        {{ macros.render_bsfield(form.severity) }}
        
        <div class="form-row">
          {{ macros.render_bsfield(form.start_date, type="date", show_label=true) }}
          {{ macros.render_bsfield(form.start_time, type="time", show_label=true) }}
        </div>
        <div class="form-row">
          {{ macros.render_bsfield(form.end_date, type="date", show_label=true) }}
          {{ macros.render_bsfield(form.end_time, type="time", show_label=true) }}
        </div>
        {{ macros.render_bsfield(form.services) }}
        <button type="submit" class="btn btn-primary">Generate</button>
      </form>
    </div>
    <div class="col-sm">
      {% if yaml -%}
        <ol>
          {% if site_dir_url -%}
            {% if edit_url -%}
              <li><a href="{{ edit_url }}" target="_blank">Click here to edit the downtime file on GitHub.</a></li>
            {% else -%}
              <li><a href="{{ site_dir_url }}" target="_blank">Click here to open the site directory on GitHub.</a></li>
              <li>
                Click the "Create new file" button and name the file:
                <pre>"{{ filename }}"</pre>
              </li>
            {% endif -%}
          {% else -%}
            <li>
              In your topology repo checkout, open the file named:
              <pre>"{{ filepath }}"</pre>
            </li>
          {% endif -%}
          <li>
            Copy-and-paste the following YAML as-is to the end:<br/>
            {{ macros.render_bsfield(form.yamloutput, show_label=false) }}
          </li>
        </ol>
      {% else %}{# yaml #}
        YAML code will be displayed here:<br/>
        {{ macros.render_bsfield(form.yamloutput, show_label=false) }}
      {% endif %}
    </div><!-- col-sm -->
  </div><!-- row -->
</div><!-- container -->
{% endblock %}
