{% extends "base.html.j2" %}
{% import "formmacros.html.j2" as M %}

{% if form.facility.data %}
{% set resource_disabled = false %}
{% else %}
{% set resource_disabled = true %}
{% endif %}

{% if form.resource.data %}
{% set dtopts_disabled = false %}
{% else %}
{% set dtopts_disabled = true %}
{% endif %}

{% macro render_dtfield(field) %}
{{ M.render_field(field, disabled=dtopts_disabled, **kwargs) }}
{% endmacro %}

{% macro render_dtbutton(button) %}
{{ M.render_button(button, disabled=dtopts_disabled, **kwargs) }}
{% endmacro %}

{% set downtime_fieldnames = [
  "scheduled", "description", "severity", "start_date", "start_time",
  "end_date", "end_time", "services", "generate"] %}

{% block title %}Downtime YAML generator{% endblock %}

{% block content %}
<noscript><div class="alert alert-warning" role="alert">Please enable JavaScript for full functionality.</div></noscript>

<center><h3>Downtime YAML generator</h3></center>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <form method=post>
        <!-- NOTE: we are not using CSRF because none of the POST data is actually
        used to change anything.  If that ever changes, see
        https://flask-wtf.readthedocs.io/en/stable/csrf.html
        -->
        {{ M.render_field(form.facility) }}
        {{ M.render_button(form.change_facility) }}

        {{ M.render_field(form.resource, disabled=resource_disabled) }}
        {{ M.render_button(form.change_resource, disabled=resource_disabled) }}

        {{ render_dtfield(form.services) }}

        {{ render_dtfield(form.scheduled) }}
        {{ render_dtfield(form.description) }}
        {{ render_dtfield(form.severity) }}

        <div class="form-row">
          {{ render_dtfield(form.start_date, type="date", class_="col-sm-6", placeholder="YYYY-MM-DD") }}
          {{ render_dtfield(form.start_time, type="time", class_="col-sm-6", placeholder="HH:MM") }}
        </div>
        <div class="form-row">
          {{ render_dtfield(form.end_date, type="date", class_="col-sm-6", placeholder="YYYY-MM-DD") }}
          {{ render_dtfield(form.end_time, type="time", class_="col-sm-6", placeholder="HH:MM") }}
        </div>

        {{ render_dtbutton(form.generate) }}
      </form>
    </div><!-- col-sm -->

    <div class="col-sm">
      {% if form.yamloutput.data -%}
        <ol>
          {% if site_dir_url -%}
            {% if edit_url -%}
              <li>
                <a href="{{ edit_url }}" target="_blank">
                  Click here to edit the downtime file on GitHub.
                </a>
              </li>
            {% else -%}
              <li>
                <a href="{{ site_dir_url }}" target="_blank">
                  Click here to open the site directory on GitHub.
                </a>
              </li>
              <li>
                Click the "Create new file" button and name the file:
                <pre>"{{ filename }}"</pre>
              </li>
            {% endif -%}
          {% else -%}
            <li>
              In your topology repo checkout, open the file named:
              <pre>"{{ filepath }}"</pre>
            </li>
          {% endif -%}
          <li>
            Copy-and-paste the following YAML as-is to the end:<br/>
            {{ M.render_field(form.yamloutput, show_label=false) }}
          </li>
        </ol>
      {% else %}{# form.yamloutput.data #}
        YAML code will be displayed here:<br/>
        {{ M.render_field(form.yamloutput, show_label=false) }}
      {% endif %}
    </div><!-- col-sm -->
  </div><!-- row -->
</div><!-- container -->
{% endblock %}

{% block last %}
<script type="text/javascript">
  $( "#change_facility" ).click( function () {
    {% for fieldname in downtime_fieldnames %}
    /* undisable/require everything so existing data gets saved */
    $( "#{{ fieldname }}" ).prop("disabled", false);
    $( "#{{ fieldname }}" ).prop("required", false);
    {% endfor %}
  } );
  $( "#facility" ).change( function () {
    $( "#change_facility" ).click();
  } );
  $( "#change_resource" ).click( function () {
    {% for fieldname in downtime_fieldnames %}
    /* undisable/require everything so existing data gets saved */
    $( "#{{ fieldname }}" ).prop("disabled", false);
    $( "#{{ fieldname }}" ).prop("required", false);
    {% endfor %}
  });
  $( "#resource" ).change( function() {
    $( "#change_resource" ).click();
  } );
</script>
{% endblock %}