<html>
  <head>
    <title>OSG Topology Interface</title>
  </head>
  <body>

    <h1>OSG Topology Interface</h1>
    <p>
      In order to use or make changes to the OSG topology, please read the <a href="https://github.com/opensciencegrid/topology/blob/master/README.md">documentation</a>.
    </p>
    
    <a href="https://github.com/opensciencegrid/topology">Source Repo</a><br/>
    <p>XML data:
        <ul>
            <li><a href="miscproject/xml?">Projects data</a></li>
            <li><a href="miscuser/xml?">User data</a></li>
            <li><a href="rgsummary/xml?">Resource topology data</a></li>
            <li><a href="rgdowntime/xml?">Resource downtime data</a>
                (<a href="rgdowntime/xml?downtime_attrs_showpast=all">with past downtimes</a>)</li>
            <li><a href="vosummary/xml?">Virtual Organization data</a></li>
        </ul>
    </p>
    <p><a href="downtime_resource_select">Generate a downtime entry for a resource</a></p>


  </body>
</html>
